/* 主题颜色 变量
------------------------------- */

:root {
  --sunwise-border-light-color: #e5e6ea;
  --sunwise-header-fill-color: #f2f3f5;
  --sunwise-table-td-fill-color: #f7f8fa;

  --sunwise-bg-color: #f2f3f5;
  --sunwise-text-default-color: #1d2129;
  --sunwise-disabled-text-color: #86909c;

  --sunwise-theme-main-color-black: #011532; // 主题色 黑
  --sunwise-theme-main-color-blue: #046af9; // 主题色 蓝
  --sunwise-theme-main-color-grey: #f2f3f5; // 主题色 灰

  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* 扩散型阴影：shadow-box */
}

/*  ======== 暗黑模式颜色 ========  */
// .dark {
// }
